.image {
    background-size: cover;
    background-position: center center;
    display: flex;
    position: relative;
    border: 1px solid rgb(228,288,231);
    border-radius: 8px;
    overflow: hidden;
    height: 135px;
}

.tags {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    font-size: 12px;
    background-color: lightblue;
    color: blue;
    padding: 4px 7px;
    position: absolute;
    left: 8px;
    bottom: 8px;
    width: fit-content;
}

.title {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    color: rgb(26,26,26);
    opacity: 1;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
